:root {

    --color-primary: #fedc34;
    --color-primary-fade: #feea85;

    --color-success: #4CAF50;
    --color-success-fade: #94cf96;

    --color-error: #F44336;
    --color-error-fade: #f88e86;

    --color-background-light: #ffffff;
    --color-background-light-fade: #f2f2f2;

    --color-background-dark: #565656;
    --color-background-dark-fade: #3c3c3c;

    --color-text-light: var(--color-background-dark-fade);
    --color-text-dark: var(--color-background-light-fade);

    --border-radius: 48px;

    --font-size-xs: 12px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 28px;

    --margin-1: 6px;
    --margin-2: 12px;
    --margin-3: 18px;
    --margin-4: 24px;
    --margin-5: 30px;
    --margin-6: 36px;

}

html {

    --background: var(--color-background-light);
    --background-fade: var(--color-background-light-fade);
    --text-color: var(--color-text-light);

    &[data-mantine-color-scheme="dark"] {
        --background: var(--color-background-dark);
        --background-fade: var(--color-background-dark-fade);
        --text-color: var(--color-text-dark);
    }

    body {
        background-color: var(--background);
    }

}

