:root {

    --color-primary: var(--mantine-color-blue-0);
    --color-primary-fade: var(--mantine-color-blue-9);

    --color-secondary: var(--mantine-color-green-0);
    --color-secondary-fade: var(--mantine-color-green-9);

    --color-error: var(--mantine-color-red-0);
    --color-error-fade: var(--mantine-color-red-9);

    --color-background-light: var(--mantine-color-red-9);
    --color-background-light-fade: var(--mantine-color-red-9);

    --color-background-dark: var(--mantine-color-red-9);
    --color-background-dark-fade: var(--mantine-color-red-9);

    --color-text-light: var(--mantine-color-red-9);
    --color-text-dark: var(--mantine-color-red-9);

    --border-radius: 48px;

    --font-size-xs: 12px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 28px;

    --margin-1: 6px;
    --margin-2: 12px;
    --margin-3: 18px;
    --margin-4: 24px;
    --margin-5: 30px;
    --margin-6: 36px;

}

html[data-mantine-color-scheme="dark"] {
    color: red !important;
}